@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p style ="font-size: 18px;">
    <strong>
    We are Roshira Building Company. We are engaged in the construction of bomb shelters,
    warehouses, bunkers. In these difficult times, more than ever, everyone needs a place where
    they can feel safe. Since stress has a strong impact on learning, well-being, health, feeling
    the world, life itself, it accelerates the aging of the body. We build high-quality and affordable
    storage facilities. We were formed quite recently, about 2 years ago, and we already have quite
    a large selection of solutions that you can use. You can find all the information on the website,
    also in the support there are contact numbers by which you can clarify any information and 
    recommend solutions for improving our company. Thank you for your attention!!!!</strong></p>
<a>
    <img src="~/images/HomeImage.png" width="400" height="250">
</a>
<a>
    <img src="~/images/shelter2.png" width="400" height="300">
</a>
